layout {

    focus-ring {
        active-color   "#1f67b0"
        inactive-color "#d5e5f6"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#1f67b0"
        inactive-color "#d5e5f6"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#c2ccd670"
    }

    tab-indicator {
        active-color   "#1f67b0"
        inactive-color "#a2c1e0"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#1f67b080"
    }
}

recent-windows {
    highlight {
        active-color "#1f67b0"
        urgent-color "#fd4663"
    }
}
