binds {
    Mod+D hotkey-overlay-title="Open the Noctalia Launcher" { spawn "noctalia" "msg" "panel-toggle" "launcher"; }
    Mod+Shift+W hotkey-overlay-title="Open the wallpaper switcher" { spawn "noctalia" "msg" "panel-toggle" "wallpaper"; }
    Mod+Shift+L hotkey-overlay-title="Open the session menu" { spawn "noctalia" "msg" "panel-toggle" "session"; }
    Mod+C hotkey-overlay-title="Open the Noctalia Control Center" { spawn "noctalia" "msg" "panel-toggle control-center"; }
    Mod+Shift+S hotkey-overlay-title=null hotkey-overlay-title="Open the Noctalia Settings" { spawn "noctalia" "msg" "settings-open"; }
    Super+P hotkey-overlay-title=null { spawn "noctalia" "msg" "media" "toggle"; }
    Super+N hotkey-overlay-title=null { spawn "noctalia" "msg" "media" "next"; }
    Mod+M hotkey-overlay-title=null { spawn "noctalia" "msg" "panel-toggle" "control-center" "media"; }

// Example media keys mapping using noctalia v5's controls.
// This will work with any MPRIS-enabled media player while noctalia is running.
XF86AudioPlay allow-when-locked=true { spawn "noctalia" "msg" "media" "toggle"; }
XF86AudioStop allow-when-locked=true { spawn "noctalia" "msg" "media" "stop"; }
XF86AudioPrev allow-when-locked=true { spawn "noctalia" "msg" "media" "previous"; }
XF86AudioNext allow-when-locked=true { spawn-sh "playerctl next"; }
}
