layout {

    focus-ring {
        active-color   "#62931a"
        inactive-color "#e9f6d5"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#62931a"
        inactive-color "#e9f6d5"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#ced6c270"
    }

    tab-indicator {
        active-color   "#62931a"
        inactive-color "#b7d788"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#62931a80"
    }
}

recent-windows {
    highlight {
        active-color "#62931a"
        urgent-color "#fd4663"
    }
}
