layout {

    focus-ring {
        active-color   "#4d8412"
        inactive-color "#e6f9d2"
        urgent-color   "#fd4663"
    }

    border {
        active-color   "#4d8412"
        inactive-color "#e6f9d2"
        urgent-color   "#fd4663"
    }

    shadow {
        color "#ccd8c070"
    }

    tab-indicator {
        active-color   "#4d8412"
        inactive-color "#a6d771"
        urgent-color   "#fd4663"
    }

    insert-hint {
        color "#4d841280"
    }
}

recent-windows {
    highlight {
        active-color "#4d8412"
        urgent-color "#fd4663"
    }
}
